{% extends "base.html" %}

{% block content %}

<div class="card">

    <h2>League Teams</h2>

    <formue/add-team
        <input
            type="text"
            name="team_name"
            placeholder="Team Name"
            required
        >
        <button type="submit">
            Add Team
        </button>
    </form>

</div>

<div class="card">

    {% for team in teams %}

        <div style="margin-bottom:15px;">

            <b>{{ team[1] }}</b>

            <form
                method="POST"
                action="/league/delete-team"
                style="display
                    value="{{ team[0] }}"
                >

                <button type="submit">
                    Delete
                </button>

            </form>

        </div>

    {% endfor %}

</div>

{% endblock %}